@using GamingUniversityApp.Web.ViewModels.Course
@using static GamingUniversityApp.Common.ErrorMessages.MyCourses
@model IEnumerable<CourseIndexViewModel>

@if (TempData[nameof(AddToMyCoursesNotSuccessfullMessage)] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData[nameof(AddToMyCoursesNotSuccessfullMessage)]
	</div>
}

<h2>All Courses</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Image</th>
			<th>Course Name</th>
			<th>Description</th>
			<th>Credits</th>
			<th>Lecturer</th>
		</tr>
	</thead>
	<tbody>
		@foreach (CourseIndexViewModel course in Model)
		{
			<tr>
				<td>
					<img src="@course.ImageUrl" alt="@course.CourseName" style="width: 100px; height: 75px;" />
				</td>

				<td>@course.CourseName</td>
				<td>@course.Description</td>
				<td>@course.Credits</td>
				<td>@course.LecturerName</td>
				<td>
					<a asp-action="Details" asp-route-id="@course.Id" class="btn btn-info">View Course Assignments</a>

					@if (User?.Identity?.IsAuthenticated ?? false)
					{
						<form asp-controller="MyCourses" asp-action="AddToMyCourses" method="post" class="d-inline">
							<input type="hidden" name="courseId" value="@course.Id" />
							<button type="submit" class="btn btn-warning">+MyCourses</button>
						</form>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
